# Changelog

All notable changes to this project will be documented in this file.

{%- set releases = ctx.history.released.values() | list %}
{%- for release in releases %}

## v{{ release.version }} ({{ release.tagged_date.strftime('%Y-%m-%d') if release.tagged_date else 'Unreleased' }})

{%- set elements = release.get("elements", {}) %}
{%- for section_name in ["features", "bug fixes", "performance improvements", "documentation", "refactoring", "testing", "chores"] %}
{%- if section_name in elements and elements[section_name] %}

### {{ section_name | title }}

{%- for item in elements[section_name] %}
- {{ item.descriptions[0] if item.descriptions else item.commit.message }}
{%- endfor %}
{%- endif %}
{%- endfor %}
{%- endfor %}

